name: Build Docs

on:
  push:
    branches:
      - main
env:
  HELP_PORTAL_REPO_NAME: ctrader-help-duplicate
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo '${{ secrets.HELP_PORTAL_SSH_KEY }}' > HELP_PORTAL_KEY
      - name: Setup SSH agent
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
 
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          chmod 0600 ./HELP_PORTAL_KEY
          ssh-add ./HELP_PORTAL_KEY
      - name: Checkout
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: git clone git@github.com:spotware/$HELP_PORTAL_REPO_NAME.git
      - run: ls
      - run: mv "*.proto" $HELP_PORTAL_REPO_NAME/open-api-docs/proto
      - run: cd $HELP_PORTAL_REPO_NAME
      - run: git add -A
      - run: git commit -m "Update Open API Proto Message Files"
      - run: git push